<h1 class="banner">FESTIVAL DE MUSICA</h1>
<h3 class="second-banner">ACTIVITIES</h3>

<br>
<br>
<br>
<%= image_tag("meditation.jpg", :class => "main-image") %>
<br>
<br>
<br>


    <p class="main-text">YOGA</p>
    <p class="location">Starting at 11am and then on the hour until 4pm, each 40 minute yoga session is guaranteed to loosen you up, free your mind of worries and allow you to enjoy the ambience of the festival.  Our instructors are fully accredited and there is room for 40 mats (provided) at each session.</p>
    <br>
    <br>
    <br>
    <%= image_tag("groupdance.jpg", :class => "main-image") %>
    <br>
    <br>
    <br>


        <p class="main-text">GROUP DANCE</p>
        <p class="location">Starting at 11am and then every half hour until 4pm, we will hold a 20 minute group dance session for 100 people to the classic hits likely to be played at the festival.  We then hope to have some synchronised dancing during the performances.</p>
        <br>
        <br>
        <br>
        <%= image_tag("garland2.jpg", :class => "main-image") %>
        <br>
        <br>
        <br>
        </div>

        <p class="main-text">HAIR BRAIDING AND GARLANDS</p>
        <p class="location">Visit the Flower Power stand to enjoy a complimentary floral garland.</p>
        <br>
        <br>
        <br>
