
<!-- add collapsible list here -->
<!-- what to bring, weather, food and drink, forbidden, disabled access, conditions of entry, public transport, car -->

<h2>FREQUENTLY ASKED QUESTIONS</h2>

<h4>GENERAL INFORMATION</h4>

<button class="accordion">WHAT TO BRING</button>
<div class="panel">
  <p class="panel-style">Raincoats in case of rain (no umbrellas are allowed), picnic rugs, small foldable chairs and picnic hampers.</p>
</div>

<button class="accordion">WEATHER</button>
<div class="panel">
<p class="panel-style">The festival will still be held, even in heavy rain.  The festival will only be cancelled in the event of an electrical storm.</p>
</div>

<button class="accordion">FOOD AND DRINK</button>
<div class="panel">
  <p class="panel-style">You are welcome to bring your own food.  There will be many catering stalls on-site and free water refill stations.  No alcohol may be brought and will instead be available for purchase from any of the 8 bars located around the festival area.</p>
</div>

<button class="accordion">FORBIDDEN</button>
<div class="panel">
  <p class="panel-style">Alcohol may not be brought to the festival site.  Metal cutlery and umbrellas also may not be brought.</p>
</div>

<button class="accordion">DISABLED ACCESS</button>
<div class="panel">
  <p class="panel-style">There will be ramps for disabled viewing areas and disabled access toilets.</p>
</div>

<button class="accordion">CONDITIONS OF ENTRY</button>
<div class="panel">
  <p class="panel-style">Consumer laws apply.  We have the right to refuse entry if you do not adhere to the conditions outlined on your ticket or act in an offensive manner.  Passouts will be available on the day.  Bags are subject to a security search on entry.</p>
</div>

<button class="accordion">TRANSPORT</button>
<div class="panel">
  <p class="panel-style">There are trains on the Northern Line to Boogaloo Village.  Shuttle buses will operate to the festival site every 30mins from 9am until 3pm.  </p>

  <p class="panel-style">Boogaloo Forest can be reached on Davidson Road from the M1 if you are arriving by car.  Car parking facilities will be available for 1200 vehicles.</p>
</div>

<br>
<h4>TICKETING</h4>

<button class="accordion">ARE THERE TICKETS AT THE GATE?</button>
<div class="panel">
  <p class="panel-style">We will make available 400 tickets at the gate for casual entry, and any tickets left unsold beforehand.</p>
</div>

<button class="accordion">REFUNDS</button>
<div class="panel">
<p class="panel-style">Unfortunately no refunds are available once tickets are purchased, except in the event of a weather cancellation or cancellation of the event itself.  Management reserves the right to substitute artists of a comparable quality (decided at management's discretion) should an act be unavailable.</p>
</div>

<button class="accordion">CUSTOMER HOTLINE</button>
<div class="panel">
  <p class="panel-style">For technical issues with printing or receipt of your electronic ticket please call 1800 000 000 during office hours 9am to 5pm.</p>
</div>
