<h1 class="banner">FESTIVAL DE MUSICA</h1>
<h3 class="second-banner">FOOD GLORIOUS FOOD</h3>

<div class="main-text2">
    <p class="main-text">STALLS</p>
    <p>Some of Melbourne's and Sydney's best known Food Trucks will making a visit to Boogaloo.  Cuisine from Asia, South America, America and Australia will be featured by Tacorama Truck, Viet Man and his Van, Mucho Sombrero, Won Ton To Go, The Brunch Bus and the Baguette Bros.
    </p>
    <p>Vegetarian, gluten free and allergen free options will be available.</p>

</div>
<div class="gallery">
    <%= image_tag("foodtruck.jpg", :class => "autoplay") %>
</div>

<div class="main-text2">
    <p class="main-text">HAMPERS</p>
    <p>Gourmet Hampers are available to be pre-purchased for collection at the Festival.
    </p>
    <p>Food and drinks will be available fresh and cold from the main collection point between 10am and 2pm.
    </p>
    <p>Please have your receipt ready.</p>
</div>

<div class="gallery">
    <%= image_tag("hamper1.jpg", :class => "autoplay") %>
</div>
<p class="main-text">THE CLASSIC PLOUGHMANS</p>
<p>Designed for two. Two baguettes with an assortment of accompaniments</p>
<p>100 grams each of leg ham, saucisson and country pate</p>
<p>100 grams each of Cheshire cheese, Brie and Rocquefort
</p>
<p>Two tomatoes, one cucumber, red oak lettuce</p>
<p>Quince paste and vinaigrette sauce</p>

<div class="gallery">
    <%= image_tag("sushi2.jpg", :class => "autoplay") %>
</div>
<p class="main-text">THE SAMURAI</p>
<p>Designed for two. A platter of assorted sushi and sashimi</p>
<p>6 sashimi pieces of tuna, salmon and kingfish</p>
<p>18 assorted sushi - 6 nigiri (fish on top of rice), 6 maki (seaweed wrapped) and 6 uramaki (rice on outside) of salmon, prawn, tuna, kingfish, eel and chicken</p>
<p>Ginger, wasabi and soy sauce and chopsticks</p>
