<h1>BOOGALOO FESTIVAL DIRECTIONS</h1>
<p></p>
<br>

<div id="map"></div>
<br>
<p class="location">Boogaloo Festival is located one kilometre inside the entrance to Dharawal National Park.  If driving, from the M1, please turn onto B69, then onto the 106 Trail Road (unsealed) through the park entrance.  Festival tickets include the entrance fee to the National Park.  There will be be ample signposting inside the park and wardens who will then direct you to the four parking areas.</p>
<p class="location">Alternatively there are free shuttle buses from Thirroul town centre leaving each 30mins from 9am until 3pm.</p>
