<h1 class="banner">FESTIVAL DE MUSICA</h1>
<h3 class="second-banner">ORDER OF PLAY</h3>

<br>
<br>
<br>
<%= image_tag("concert.jpg", :class => "main-image") %>
<br>
<br>
<br>

<div class="main-text2">
    <p class="main-text">JIMMY FREEDOM AND HIS FREEDOM FIGHTERS - 9AM</p>
    <p>Fresh from his South American tour, Jimmy will electrify the stage with his four piece band, the Freedom Fighters.  Known for his energetic stage presence, Jimmy will bring the house down with new interpretations of his famous back catalogue.</p>
    <br>
    <br>
    <br>
    <%= image_tag("concert2.jpg", :class => "main-image") %>
    <br>
    <br>
    <br>

    <div class="main-text2">
        <p class="main-text">ELECTRONICA ALERT - 11AM</p>
        <p>Boasting a rotating 16 musician strong group, Electronica Alert, stays at the forefront of groundbreaking sounds.  Let them take you on a journey from a more soulful ambience to a wild and whooping jungle menagerie.</p>
        <br>
        <br>
        <br>
        <br>
        <%= image_tag("concert3.jpg", :class => "main-image") %>
        <br>
        <br>
        <br>

        <div class="main-text2">
            <p class="main-text">TOM THE GUN - 1PM</p>
            <p>Tom the Gun never fails to please.  Mixing the drawl of Minnesota with new wave beat boy, Tom is guaranteed to delight audiences. </p>
            <br>
