/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body {
  height: 100%;
  width: 100%;
  font-family: "Lato";
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

ul.navbar li a {
display: inline-block;
padding: 16px 40px; /*top and bottom 16px and left and right 20px;*/
text-decoration: none;
color: darkslategray
}

ul.navbar li a:hover {
 font-weight: bold;
}


li {
  display: inline-block;
  list-style-type: none;
}

nav {
  height: 60px;
  background: -webkit-linear-gradient(lightblue, ivory, pink);
  background: -o-linear-gradient(lightblue, ivory, pink); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lightblue, ivory, pink); /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightblue, ivory, pink); /* Standard syntax */
}
.main-page {
  display: inline-block;
}
text.main-banner {
  position: absolute;
  z-index: 2;
  margin-top: -50%;
  margin-left: -50%;
  width: 100vw;
  font-size: 60px;
  color: white;
}

text.main-banner:hover {
  font-weight: bold;
}


p.main-banner:hover {
  font-weight: bold;
}

img.main-image {
  position: relative;
  width: 100vw;
}


/*h1.main-banner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  display:inline-table;
}*/


p.main-text {
  font-size: 24px;
  color: darkslategray;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

ul.main-list {
  margin-left: 5%;
  margin-right: 5%;
}
li.main-page-list {
  font-size: 20px;
  color: blue;
  margin-bottom: 20px;
  width: 30%;
}
img.tertiary-image {
  height: 70%;
  width: 70%;
}
