// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*Styles for accordion on FAQ page*/
button.accordion {
    background-color: ivory;
    color: darkslategray;
    padding: 18px;
    width: 50%;
    text-align: left;
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #lightslategray;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

/*Accordion panel - hidden by default.  Display made block once button clicked in javascript */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

p.panel-style {
    text-align: center;
    padding: 0 25%;
    color: darkslategray;
    font-size: 14px;
}
/*Style for location page */
#map{
   margin: 0 auto;
   height: 50%;
   width: 50%;
}

p.location {
   text-align: center;
   padding: 0 25%;
}
